@import "tailwindcss";


*{
  font-family: Outfit;
}

.font-ovo {
  font-family: 'Ovo',serif;
}

.font-outfit {
  font-family: 'Outfit',sans-serif;
}

:root {
  --lightHover:#ddcfe1;
  --darkHover: #2a004a;
  --darkTheme: #11001f;
}

.bg-darkTheme {
  background-color: var(--darkTheme);
}

.text-lightHover {
  color: var(--lightHover);
}

.hover\:bg-darkHover:hover {
  background-color: var(--darkHover);
}
.hover\:bg-lightHover:hover{
  background-color: var(--lightHover);
}

.shadow-black {
  box-shadow: 4px 4px 0 #000;
}

.shadow-white {
  box-shadow: 4px 4px 0 #fff;
}


.hover\:shadow-black:hover {
  box-shadow: 4px 4px 0 #000;
}

.hover\:shadow-white:hover {
   box-shadow: 4px 4px 0 #fff;;
}

html.dark {
  background-color: var(--darkTheme);
  color: #fff;
}

html.dark .dark-hover-bg {
  background-color: var(--darkHover);
}

html.dark input,
html.dark textarea,
html.dark select {
  background-color: var(--darkTheme);
  color: #fff;
  border-color: #fff; 
}


